# 6.1 Economic Freedom Data Entry and Export

## This Script Contains the Following points

### 1. Importing Libraries
### 2. Importing  and Checking Data sets
### 3. Descriptive Statistics
### 4. Exporting Data sets to pickle files

### 1. Importing Libraries

In [1]:
# Import Libraries with visualization capabilities
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

### 2. Importing and Checking Data sets

In [2]:
# Import .csv files

#First create a string of the path for th emain project folder
path = r'/Users/mistystone/Library/CloudStorage/OneDrive-Personal/Documents/CF_Data_Ach6_Dashboard/Economic_Freedom_Analysis/'

#Import EconFreeData.csv
df_EconFreeData = pd.read_csv(os.path.join(path, '02 Data', 'Raw Data','EconFreeData.csv'))

In [3]:
#Check head
df_EconFreeData.head(5)

   Year    Country  Economic Freedom Summary Index   Rank  Quartile
0  2021    Albania                            7.60   31.0       1.0
1  2021    Algeria                            4.82  157.0       4.0
2  2021     Angola                            5.38  149.0       4.0
3  2021  Argentina                            4.77  158.0       4.0
4  2021    Armenia                            7.58   33.0       1.0

In [4]:
#Import GDP.csv
df_GDP = pd.read_csv(os.path.join(path, '02 Data','Raw Data', 'GDP.csv'))

#Import Pop.csv
df_Pop = pd.read_csv(os.path.join(path, '02 Data','Raw Data', 'Pop.csv'))

#Import CPI.csv
df_CPI = pd.read_csv(os.path.join(path, '02 Data','Raw Data', 'CPI.csv'))

#Import Unemployment.csv
df_Unemployment = pd.read_csv(os.path.join(path, '02 Data','Raw Data', 'Unemployment.csv'))

#Import Education.csv
df_Education = pd.read_csv(os.path.join(path, '02 Data','Raw Data', 'Education.csv'))

#Import Continent.csv
df_Continent = pd.read_csv(os.path.join(path, '02 Data','Raw Data', 'Continent.csv'))

#Import IncomeGroup.csv
df_IncomeGroup = pd.read_csv(os.path.join(path, '02 Data','Raw Data', 'IncomeGroup.csv'))

#Import Indicators.csv
df_Indicators = pd.read_csv(os.path.join(path, '02 Data','Raw Data', 'Indicators.csv'))

In [5]:
# Check heads

print(df_GDP.head(5))
print()
print(df_Pop.head(5))
print()
print(df_CPI.head(5))
print()
print(df_Unemployment.head(5))
print()
print(df_Education.head(5))
print()
print(df_Continent.head(5))
print()
print(df_IncomeGroup.head(5))
print()
print(df_Indicators.head(5))

       Country  Year  GDP_PerCapita  GDP_2010Prices_Millions
0  Afghanistan  1995          152.0                   6335.0
1  Afghanistan  2005          242.0                   9596.0
2  Afghanistan  2010          504.0                  14744.0
3  Afghanistan  2015          544.0                  18713.0
4  Afghanistan  2018          496.0                  19738.0

          Country  Year  Pop_mill  Pop_male_mill  Pop_female_mill  \
0     Afghanistan  2010     28.19          14.24            13.95
1         Albania  2010      2.91           1.46             1.45
2         Algeria  2010     35.86          18.28            17.57
3  American Samoa  2010      0.05           0.03             0.03
4         Andorra  2010      0.07           0.04             0.04

   Pop_0_14_per  Pop_60_plus_per  Pop_density  Surface_area_thou_km2
0          49.0              3.8         43.4                    NaN
1          21.0             16.2        106.3                    NaN
2          27.6              7.1         15.1                    NaN
3          34.6              6.7        274.2                    NaN
4          16.3             15.3        152.2                    NaN

                 Country  Year  CPI_General  CPI_Food
0  Aland Islands Islands  2000         85.6      83.4
1                Albania  2000         74.1       NaN
2                Algeria  2000         70.4       NaN
3                 Angola  2000          2.9       NaN
4               Anguilla  2000         68.4       NaN

       Country  Year  Unemp_Male  Unemp_Female  Unemp_Total
0  Afghanistan  2005        10.6          14.3         11.2
1      Albania  2005        15.6          16.4         16.0
2      Algeria  2005        14.9          17.2         15.3
3       Angola  2005         4.7           3.0          3.9
4    Argentina  2005        10.0          13.6         11.5

               Country  Year  Enroll_Ratio_Primary_Female  \
0  Antigua and Barbuda  2000                          NaN
1              Armenia  2000                         99.3
2        Guinea-Bissau  2000                         60.6
3           Kazakhstan  2000                         97.1
4              Liberia  2000                         98.5

   Enroll_Ratio_Primary_Male  Enroll_Ratio_Secondary_Female  \
0                        NaN                           76.6
1                       98.0                           96.5
2                       90.9                           12.7
3                       96.8                           96.2
4                      133.7                           30.3

   Enroll_Ratio_Secondary_Male  Enroll_Ratio_UpperSecondary_Female  \
0                         83.0                                77.8
1                         87.8                                89.9
2                         23.6                                 7.5
3                         91.3                               102.0
4                         41.4                                29.5

   Enroll_Ratio_UpperSecondary_Male
0                              78.0
1                              79.8
2                              14.3
3                              94.8
4                              34.4

          Country Continent
0     Afghanistan      Asia
1   Åland Islands    Europe
2         Albania    Europe
3         Algeria    Africa
4  American Samoa   Oceania

       Country         Income group
0        Aruba          High income
1  Afghanistan           Low income
2       Angola  Lower middle income
3      Albania  Upper middle income
4      Andorra          High income

     Country  Landlocked?  LDC?  English?
0    Albania            0     0         0
1    Algeria            0     0         0
2     Angola            0     1         0
3  Argentina            0     0         1
4    Armenia            1     0         0

### 3. Descriptive Statistics

In [6]:
# Descriptive Statistics

print('df_EconFreeData.describe()')
print(df_EconFreeData.describe())
print()
print('df_GDP.describe()')
print(df_GDP.describe())
print()
print('df_Pop.describe()')
print(df_Pop.describe())
print()
print('df_CPI.describe()')
print(df_CPI.describe())
print()
print('df_Unemployment.describe()')
print(df_Unemployment.describe())
print()
print('df_Education.describe()')
print(df_Education.describe())
print()
print('df_Continent.describe()')
print(df_Continent.describe())
print()
print('df_IncomeGroup.describe()')
print(df_IncomeGroup.describe())
print()
print('df_Indicators.describe()')
print(df_Indicators.describe())

df_EconFreeData.describe()
              Year  Economic Freedom Summary Index         Rank     Quartile
count  4620.000000                     3941.000000  3941.000000  3941.000000
mean   2004.500000                        6.531094    72.315148     2.475768
std      13.389877                        1.221003    43.216456     1.111424
min    1970.000000                        1.870000     1.000000     1.000000
25%    2000.750000                        5.780000    36.000000     1.000000
50%    2007.500000                        6.630000    71.000000     2.000000
75%    2014.250000                        7.460000   106.000000     3.000000
max    2021.000000                        9.280000   165.000000     4.000000

df_GDP.describe()
              Year  GDP_PerCapita  GDP_2010Prices_Millions
count  1481.000000    1481.000000             1.481000e+03
mean   2011.751519   14873.457124             3.250801e+05
std       8.422804   23747.766257             1.479637e+06
min    1995.000000      91.000000             2.000000e+01
25%    2005.000000    1480.000000             4.370000e+03
50%    2015.000000    4897.000000             2.011300e+04
75%    2019.000000   18350.000000             1.243810e+05
max    2020.000000  189507.000000             1.992544e+07

df_Pop.describe()
              Year     Pop_mill  Pop_male_mill  Pop_female_mill  Pop_0_14_per  \
count   926.000000   922.000000     922.000000       922.000000    922.000000
mean   2016.725702    32.482213      16.339176        16.143471     26.903688
std       4.665958   132.593201      67.920643        64.685529     10.414853
min    2010.000000     0.000000       0.000000         0.000000     11.000000
25%    2010.000000     0.412500       0.212500         0.212500     17.625000
50%    2015.000000     5.410000       2.690000         2.680000     24.900000
75%    2022.000000    20.392500      10.025000        10.390000     35.825000
max    2022.000000  1425.890000     731.180000       698.240000     49.900000

       Pop_60_plus_per   Pop_density  Surface_area_thou_km2
count       922.000000    926.000000             453.000000
mean         13.109870    442.943089             591.991170
std           8.205149   2161.030322            1792.327885
min           0.300000      0.100000               0.000000
25%           5.900000     34.225000               4.000000
50%          10.800000     90.050000              84.000000
75%          19.975000    228.475000             439.000000
max          43.700000  24779.900000           17098.000000

df_CPI.describe()
              Year   CPI_General     CPI_Food
count  1237.000000   1237.000000   811.000000
mean   2013.220695    268.354325   141.318619
std       7.240927   2883.741869   243.062678
min    2000.000000      0.000000    19.600000
25%    2005.000000     95.000000   100.000000
50%    2015.000000    108.100000   113.300000
75%    2020.000000    126.300000   134.700000
max    2021.000000  93584.200000  6268.900000

df_Unemployment.describe()
              Year  Unemp_Male  Unemp_Female  Unemp_Total
count   779.000000  774.000000    774.000000   779.000000
mean   2012.806162    7.841085     10.052842     8.525802
std       6.280476    5.951235      8.064846     6.462078
min    2005.000000    0.100000      0.300000     0.100000
25%    2005.000000    3.625000      4.300000     4.100000
50%    2010.000000    6.100000      7.300000     6.800000
75%    2015.000000   10.375000     13.200000    11.100000
max    2022.000000   36.500000     60.500000    41.400000

df_Education.describe()
              Year  Enroll_Ratio_Primary_Female  Enroll_Ratio_Primary_Male  \
count   845.000000                   818.000000                 818.000000
mean   2011.822485                   102.210880                 105.291320
std       5.525830                    15.113827                  14.037997
min    2000.000000                    16.600000                  30.100000
25%    2005.000000                    97.600000                  98.900000
50%    2010.000000                   102.200000                 103.400000
75%    2015.000000                   109.475000                 112.500000
max    2021.000000                   163.400000                 164.200000

       Enroll_Ratio_Secondary_Female  Enroll_Ratio_Secondary_Male  \
count                     710.000000                   710.000000
mean                       81.710563                    81.499859
std                        30.888435                    27.745554
min                         3.700000                     8.100000
25%                        62.025000                    62.275000
50%                        90.150000                    87.500000
75%                       101.800000                   100.775000
max                       180.400000                   173.500000

       Enroll_Ratio_UpperSecondary_Female  Enroll_Ratio_UpperSecondary_Male
count                          708.000000                        710.000000
mean                            74.658898                         72.913239
std                             37.629129                         34.986682
min                              2.900000                          5.300000
25%                             42.400000                         46.450000
50%                             80.800000                         74.200000
75%                             98.350000                         96.600000
max                            210.200000                        239.800000

df_Continent.describe()
            Country Continent
count           248       248
unique          248         7
top     Afghanistan    Africa
freq              1        60

df_IncomeGroup.describe()
       Country Income group
count      218          217
unique     218            4
top      Aruba  High income
freq         1           83

df_Indicators.describe()
       Landlocked?        LDC?    English?
count   165.000000  165.000000  165.000000
mean      0.175758    0.236364    0.393939
std       0.381772    0.426141    0.490109
min       0.000000    0.000000    0.000000
25%       0.000000    0.000000    0.000000
50%       0.000000    0.000000    0.000000
75%       0.000000    0.000000    1.000000
max       1.000000    1.000000    1.000000

In [7]:
print('df_EconFreeData.dtypes')
print(df_EconFreeData.dtypes)
print()
print('df_GDP.dtypes')
print(df_GDP.dtypes)
print()
print('df_Pop.dtypes')
print(df_Pop.dtypes)
print()
print('df_CPI.dtypes')
print(df_CPI.dtypes)
print()
print('df_Unemployment.dtypes')
print(df_Unemployment.dtypes)
print()
print('df_Education.dtypes')
print(df_Education.dtypes)
print()
print('df_Continent.dtypes')
print(df_Continent.dtypes)
print()
print('df_IncomeGroup.dtypes')
print(df_IncomeGroup.dtypes)
print()
print('df_Indicators.dtypes')
print(df_Indicators.dtypes)

df_EconFreeData.dtypes
Year                                int64
Country                            object
Economic Freedom Summary Index    float64
Rank                              float64
Quartile                          float64
dtype: object

df_GDP.dtypes
Country                     object
Year                         int64
GDP_PerCapita              float64
GDP_2010Prices_Millions    float64
dtype: object

df_Pop.dtypes
Country                   object
Year                       int64
Pop_mill                 float64
Pop_male_mill            float64
Pop_female_mill          float64
Pop_0_14_per             float64
Pop_60_plus_per          float64
Pop_density              float64
Surface_area_thou_km2    float64
dtype: object

df_CPI.dtypes
Country         object
Year             int64
CPI_General    float64
CPI_Food       float64
dtype: object

df_Unemployment.dtypes
Country          object
Year              int64
Unemp_Male      float64
Unemp_Female    float64
Unemp_Total     float64
dtype: object

df_Education.dtypes
Country                                object
Year                                    int64
Enroll_Ratio_Primary_Female           float64
Enroll_Ratio_Primary_Male             float64
Enroll_Ratio_Secondary_Female         float64
Enroll_Ratio_Secondary_Male           float64
Enroll_Ratio_UpperSecondary_Female    float64
Enroll_Ratio_UpperSecondary_Male      float64
dtype: object

df_Continent.dtypes
Country      object
Continent    object
dtype: object

df_IncomeGroup.dtypes
Country         object
Income group    object
dtype: object

df_Indicators.dtypes
Country        object
Landlocked?     int64
LDC?            int64
English?        int64
dtype: object

### 4. Exporting Data to pickle files

In [8]:
# Export as pickle file.

df_EconFreeData.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'EconFreeData.pkl'))
df_GDP.to_pickle(os.path.join(path, '02 Data', 'Prepared Data','GDP.pkl'))
df_Pop.to_pickle(os.path.join(path, '02 Data', 'Prepared Data','Pop.pkl'))
df_CPI.to_pickle(os.path.join(path, '02 Data', 'Prepared Data','CPI.pkl'))
df_Unemployment.to_pickle(os.path.join(path, '02 Data', 'Prepared Data','Unemployment.pkl'))
df_Education.to_pickle(os.path.join(path, '02 Data', 'Prepared Data','Education.pkl'))
df_Continent.to_pickle(os.path.join(path, '02 Data', 'Prepared Data','Continent.pkl'))
df_IncomeGroup.to_pickle(os.path.join(path, '02 Data', 'Prepared Data','IncomeGroup.pkl'))
df_Indicators.to_pickle(os.path.join(path, '02 Data', 'Prepared Data','Indicators.pkl'))